POSTGRES_PORT=5433
POSTGRES_DB=issue_tracker
POSTGRES_USER=va1err
POSTGRES_PASSWORD=postgres

JWT_KEY=jwt_key
JWT_EXPIRE=3600000

ADMIN_EMAIL=admin@admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_password